<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144366972555-5e0icbf0hb6ppgdsavgfgqoklv3800hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144366972555-5e0icbf0hb6ppgdsavgfgqoklv3800hb</string>
	<key>API_KEY</key>
	<string>AIzaSyCMZhlr3FX1fvIVYXUH98Ltq3tFG8N4kEs</string>
	<key>GCM_SENDER_ID</key>
	<string>144366972555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ansim.Coacha</string>
	<key>PROJECT_ID</key>
	<string>ansim-coacha</string>
	<key>STORAGE_BUCKET</key>
	<string>ansim-coacha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144366972555:ios:a2bb8dd4c98d29c9e3ee8e</string>
</dict>
</plist>